/* CSS reset */
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: 'Montserrat', sans-serif;
   color: #fff;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span,
input,
button,
form {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   color: inherit;
   text-decoration: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

* {
   box-sizing: border-box;
}

/* CSS reset */


/* buttons */
.btn {
   max-width: 200px;
   border: 1.5px solid white;
   border-radius: 5px;
   padding: 5px 15px;
   font-size: 18px;
   transition: all 0.3s ease;
}

.btn:hover {
   text-decoration: underline;
   color: grey;
}

.login_btn {
   margin-right: 5px;
}

.connect_btn{
   max-width: 210px;
   background-color: #0b3262;
}

/* buttons */

.container {
   max-width: 1540px;
   width: 100%;
   margin: 0 auto;
   padding: 0 10px;
}

.con-2 {
   max-width: 1120px;
   margin: 0 auto;

}

.header {
   padding-bottom: 85px;
   background: linear-gradient(120deg, #174276 0.01%, #4B3862 101.01%);
   position: relative;
}

.header_logo {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-top: 75px;

}

.main_img_squid {
   max-width: 1060px;
}

.main_img {
   display: flex;
   justify-content: center;
}

.main_content {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.main_title{
 
   margin-top: 20px;
}

.main_text {
   max-width: 650px;
   text-align: center;
   margin: 20px 0;
}

.bubbles1{
   position: absolute;
   left: 5%;
   top: 75%;
}
.bubbles2{
   position: absolute;
   right: 7%;
   top: 19%;
}

/* Main section */
.main_section{
   background: linear-gradient(200deg, #174276 0.01%, #4B3862 101.01%);
   padding: 200px 0;
   
}

.card{
   padding:  65px 80px;
   border: 1px solid #0e1f35;
   max-width: 500px;
   background-color: #0b3262;
   margin-bottom: 150px;
   border-radius: 5px;
  
}

.card_number, .card_title{
   display: inline;
}
.card_number{
   font-size: 70px;
   color: #944B6E;
   
}

.card_text{
   line-height: 25px;
}