/* CSS reset */
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: 'Montserrat', sans-serif;
   color: #fff;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span,
input,
button,
form {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   color: inherit;
   text-decoration: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

* {
   box-sizing: border-box;
}

/* CSS reset */


/*////////////////// buttons  */
.btn {
   max-width: 200px;
   border: 1.5px solid white;
   border-radius: 5px;
   padding: 5px 15px;
   font-size: 18px;
   transition: all 0.3s ease;
}

.btn:hover {
   text-decoration: underline;
   color: grey;
}

.login_btn {
   margin-right: 5px;
}

.connect_btn {
   max-width: 210px;
   background-color: #0b3262;
}

/*  buttons */

.container {
   max-width: 1540px;
   width: 100%;
   margin: 0 auto;
   padding: 0 10px;
}

.con-2 {
   max-width: 1120px;
   margin: 0 auto;

}

.header {
   padding-bottom: 85px;
   background: linear-gradient(120deg, #174276 0.01%, #4B3862 101.01%);
   position: relative;
}

.header_logo {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-top: 75px;

}
.header_logo img{
   filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.25));
}

.main_img_squid {
   max-width: 1060px;
   
}

.main_img {
   display: flex;
   justify-content: center;
}

.main_content {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.main_title {

   margin-top: 20px;
}

.main_text {
   max-width: 650px;
   text-align: center;
   margin: 20px 0;
}

/* images */

.bubbles1 {
   position: absolute;
   left: 5%;
   top: 75%;
   filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.25));
}

.bubbles2 {
   position: absolute;
   right: 7%;
   top: 19%;
   filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.25));
}

/* images */


/* ////////////////// Main section */
.main_section {
   background: linear-gradient(200deg, #174276 0.01%, #4B3862 101.01%);
   padding-top: 200px;
   padding-bottom: 100px;
   position: relative;

}

.main_section_box {
   display: flex;
   height: 1100px;
}

.main_section_left {
   width: 50%;
}

.main_section_right {
   display: flex;
   flex-direction: column;
   justify-content: end;
}

.card {
   padding: 65px 70px;

   max-width: 500px;
   background-color: #0b3262;
   margin-bottom: 150px;
   border-radius: 5px;

   box-shadow: 13px 19px 34px rgb(0 0 44 / 52%);
}

.card_number,
.card_title {
   display: inline;
}

.card_title {
   max-width: 350px;

}

.card_number {
   font-size: 70px;
   color: #944B6E;

}

.card_text {
   margin-top: 10px;
   line-height: 25px;
}

/* images */
.shark {
   position: absolute;
   top: 10%;
   right: 15%;
   filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.25));
}

.squid_pirate {
   position: absolute;
   top: 75%;
   left: 15%;
   filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.25));
}

.bubbles3 {
   position: absolute;
   right: 7%;
   bottom: 3%;
   filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.25));
}

/* images */

/* ////////////////// media section  */

.media_section{
   background: linear-gradient(350deg, #174276 0.01%, #4B3862 101.01%);
   padding-top: 100px;
   padding-bottom: 100px;
   
}

.media_tittle{
   max-width: 450px;
   text-align: left;
   font-size: 35px;
   padding-left: 50px;
   margin-bottom: 40px;
}

/* ////////////////// subscription section */

.subscription_section{
   background: linear-gradient(100deg, #174276 0.01%, #4B3862 101.01%);
   padding-top: 100px;
   padding-bottom: 100px;
   position: relative;
}

.subscription_cards{
   display: flex;
   justify-content: space-around;
}

.subscription_card{
   max-width: 350px;
   padding: 50px;
   background: linear-gradient(100deg, #4e1a25 0.01%, rgb(49, 24, 80) 50.01%);
   border-radius: 10px;

   box-shadow: 13px 19px 34px rgb(0 0 44 / 52%);

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.subscription_card_title{
   margin-bottom: 15px;
   font-size: 26px;
}
.subscription_card_text{
   margin-bottom: 15px;
}
.btn_subscription{
   display: block;
   max-width: 250px;
   text-align: center;
   border: 3px solid;
}
/* images */
.fish{
   position: absolute;
   right: 18%;
   filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.25));
}
.aqualunger{
   position: absolute;
   left: 4%;
   top: 53%;
   filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.25));
}

.bubble5{
   position: absolute;
   right: 5%;
   top: 15%;
   filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.25));
}
/* images */
/* ///////////////////footer */
.footer{
   max-width: 1540px;
   width: 100%;
   margin: 0 auto;
   background: linear-gradient(100deg, #174276 0.01%, #4B3862 101.01%);
   display: flex;
   justify-content: center;
}

.footer img{
     
   width: 100%;
   margin: 0 auto;
}